
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
                <a class="nav-link text-center text-white" href="/contact.html">Contact Us</a>    
            <p class="m-0 text-center text-white">Located in Bedford, TX. Currently delivering any quantity to anywhere in DFW area for $10 charge.</p>
                <p class="m-0 text-center text-white">All items available for cheaper costs at higher quantities.</p>
            <p class="m-0 text-center text-white">Copyright {{ site.time | date: '%Y' }} {{ site.author }}</p>
        </div>
    <!-- /.container -->
    </footer>

