<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108059518-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-108059518-1');
  </script>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="dfw furniture, industrial furniture, modern dining, bistro sets, trendy furniture">
  <meta name="description" content="Squared Supplier is your supplier for high quality, modern furniture at an affordable price. We guarantee to beat the price of any competitors whether you're buying in bulk or single item purchases.">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <!-- <link rel="stylesheet" href="{{ "/assets/bootstrap-yeti-theme.css" | prepend: site.baseurl }}"> -->
  <link rel="stylesheet" href="{{ "/assets/css/bootstrap.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/custom.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/shop-homepage.css" | prepend: site.baseurl }}">

  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script type="text/javascript"  src="{{ "/assets/js/popper.min.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript"  src="{{ "/assets/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
  

  {% for script in layout.head %}
    {% include {{ script }} %}
  {% endfor %}

</head>
