<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <!-- <link rel="stylesheet" href="{{ "/assets/bootstrap-yeti-theme.css" | prepend: site.baseurl }}"> -->
  <link rel="stylesheet" href="{{ "/assets/css/bootstrap.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/custom.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/shop-homepage.css" | prepend: site.baseurl }}">

  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script type="text/javascript"  src="{{ "/assets/js/popper.min.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript"  src="{{ "/assets/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
  

  {% for script in layout.head %}
    {% include {{ script }} %}
  {% endfor %}

</head>
