--- 
layout: default 
head: snipcart.html 
---

<div class="product-details">
  <!-- <img src="{{ page.imageurl }}" alt="{{ page.name }}" class="thumbnail" />
  <div class="product-description">
    <p>{{ page.name }}</p>

    <p>
      {{ page.content }}
    </p>

    <button class="snipcart-add-item" data-item-name="{{ page.name }}" data-item-id="{{ page.sku }}" data-item-image="{{ page.image }}"
      data-item-url="{{ site.url }}{{ page.url }}" data-item-price="{{ page.price }}" data-item-custom2-coloroption="{{ page.coloroption }}">
      Buy it for {{ page.price }} $
    </button>
  </div> -->

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3">
        <h1 class="my-4">Shop Name</h1>
        <div class="list-group">
            {% for product in site.products %}
              <a href="{{product.url}}" 
                {% if product.name == page.name %}
                  class="list-group-item active"
                {% else %}
                  class="list-group-item"
                {% endif %}
              >{{product.name}}</a>
            {% endfor %}
        </div>
      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div class="card card-outline-secondary my-4">
          <img class="card-img-top img-fluid" src="{{ page.largeimageurl }}" alt="">
          <div class="card-body">
            <h3 class="card-title">{{ page.name }}</h3>
            <h4>${{ page.price }}</h4>
            <p class="card-text">{{page.description}}</p>
            <!-- <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span> 4.0 stars -->
          </div>
        </div>
        <!-- /.card -->
<!-- 
        <div class="card card-outline-secondary my-4">
          <div class="card-header">
            Product Reviews
          </div>
          <div class="card-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus
              neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae
              sint natus.</p>
            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus
              neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae
              sint natus.</p>
            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus
              neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae
              sint natus.</p>
            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
            <hr>
            <a href="#" class="btn btn-success">Leave a Review</a>
          </div>
        </div> -->
        <!-- /.card -->

      </div>
      <!-- /.col-lg-9 -->

    </div>

  </div>
  <!-- /.container -->


</div>