--- 
layout: default 
head: snipcart.html 
---

<div class="product-details">
  <!-- <img src="{{ page.imageurl }}" alt="{{ page.name }}" class="thumbnail" />
  <div class="product-description">
    <p>{{ page.name }}</p>

    <p>
      {{ page.content }}
    </p>

    <button class="snipcart-add-item" data-item-name="{{ page.name }}" data-item-id="{{ page.sku }}" data-item-image="{{ page.image }}"
      data-item-url="{{ site.url }}{{ page.url }}" data-item-price="{{ page.price }}" data-item-custom2-coloroption="{{ page.coloroption }}">
      Buy it for {{ page.price }} $
    </button>
  </div> -->

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-7">
        <div class="card card-outline-secondary my-4">
          <img class="card-img-top img-fluid" src="{{ page.mediumimageurl }}" alt="">
        </div>
      </div>
      <!-- /.col-lg-9 -->

      <div class="col-lg-5">
        <div class="card-body">
          <h3 class="card-title">{{ page.name }}</h3>
          <p class="card-text">{{page.description}}</p>
          <!-- <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span> 4.0 stars -->
        </div>
        <hr>
        <button class="snipcart-add-item btn btn-lg btn-success" type="button" data-item-name="{{ page.name }}" data-item-id="{{ page.sku }}" data-item-image="{{ page.340x200imageurl }}"
          data-item-url="{{ site.baseurl }}{{ page.url }}" data-item-price="{{ page.price }}" data-item-custom2-coloroption="{{ page.coloroption }}">
          Add to cart
        </button>
        <h4 style="display: inline; padding-left: 10px;">${{ page.price }}</h4>
        
      </div>
    </div>
    <hr>
    <div class="row justify-content-md-center">
        <h2 class="">Similar Items</h2>
    </div>
    <div class="row">
      {% for product in site.products %}
        {% if product.name != page.name %}
          <div class="col-lg-4 col-md-6 mb-4">
          {% include productdetails_card.html %}
          </div>
        {% endif %}
      {% endfor %}
    </div>

  </div>
  <!-- /.container -->


</div>